body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align : center;
      height: 100vh;
      background-color: #f0f0f0; /* Set the background color */
    

    }

    .rectangle {
      width: 300px; /* Set the width of the rectangle */
      height: 300px; /* Set the height of the rectangle */
      border: 2px solid #333; /* Set the border width and color */
      background-color:#016f32;
      background: cover; /* Set the background color of the rectangle */
      text-align: center;
      font-weight: bold;
      color: white;
    }
}
    
    h1 {
    color: goldenrod;
}
 #message-el {
     font-style: italic;
     
 }
 button{
     color:#016f32
     width: 150px;
     background: goldenrod; 
     padding-top:5px;
     padding-bottom: 5px;
     font-weight: bold;
     margin-bottom: 2px;
     margin-top: 2px;
 }